
var judgeShow = function (latticeContent) {
    console.log(latticeContent)
    var result = true;
    if (latticeContent.length != 4)
        return false;
    for (var i = 0; i < latticeContent.length; i++) {
        if (!latticeContent[i].hasContent) {
            result = false;
            break;
        }
    }
    return result;
}

module.exports = {
    judgeShow: judgeShow
}